streamlit
streamlit-option-menu
pandas
numpy
scikit-learn
plotly
seaborn
matplotlib
lightgbm
tensorflow==2.11.0
catboost
xgboost
shap
imblearn
PyPDF2
python-docx
ebooklib
fpdf2
openpyxl
xlsxwriter
pillow
pickle-mixin
